html,
body {
    height: 100%;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #3F4E4F;
}
aside {
    width: 250px;
    height: 100vh;
    background: #2C3639;
    position: fixed;
    z-index: 9;
    color: #DCD7C9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 3px 1px 5px 0px rgba(0, 0, 0, 0.75)
}


aside ul {
    padding-inline-start: 0;
}

aside ul li {
    list-style: none;
    font-size: 30px;
    padding: 20px 0;
    cursor: pointer;
}

aside li:hover {
    color:#FF0063;
    font-size: 200%;
}
a {
    text-decoration: none;
    color: #DCD7C9;
}

a:hover {
    color:#FF0063;
}

aside ul li .fas {
    width: 50px;
}

.aside-wrapper {
    padding: 0 40px;
    box-sizing: border-box;
}


.logo-text {
    font-size: 35px;
    position: relative;
    color: #66BFBF;
}

/*float animation for icon */
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.logo-text img {
    width:180px;
    height:180px;
    animation: float 2s ease-in-out infinite;
}

.sidebar-toggle {
    position: absolute;
    font-size: 50px;
    top: 5px;
    left: 205px;
    background: #2C3639;
    padding: 20px 25px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    color: #DCD7C9;
    
}

.sidebar-toggle:hover {
    color: #FF0063;
    font-size: 150%;
    
}

input {
    display: none;
}

@keyframes navopen {
    from {left: 0px;}
    to {left: -250px;}
}

@keyframes navclose {
    from {left: -250px;}
    to {left: 0px;}
}

/* Toggler Functionality */
input[type="checkbox"]:checked ~ aside {
    animation: navopen 1s;
    left: -250px;
}

input[type="checkbox"]:not(:checked) ~ aside {
    animation: navclose 1s;
    
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/5291450.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    font-size: 1rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .hero-text h1 {
    font-size: 8rem;
  }
  

  .hero-text h1::first-letter {
    font-size: 10rem;
    color: #FF0063;
  }
  
  .button {
    border-radius: 15px;
    background-color: none;
    border: 2px solid #2C3639;
    color: #2C3639;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    width: 300px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2 s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.2s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .button:hover {
    background-color: #66BFBF;
    color: #ddd;
  }

  .gradient-background {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  }

  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

